---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Davide De Benedittis - Robotics Engineer</div>
  </div>

  <div class="mb-10 text-justify">
    I am a PhD student in Robotics Engineering at the University of Pisa.
    I have experience with robotics, control techniques, and sensor fusion.
    My research focuses on planning and control of legged robots and multi-robot systems.
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">💼 Experience</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Ph.D. in Robotics Engineering"
      subtitle="2022 to 2025 at University of Pisa, Pisa, Italy"
      image="/icons/unipi_white.svg"
      backgroundColor="#0f4a7c"
      color2="#b01220"
    >
      Research on planning and control of legged robots and multi-robot systems.
    </TimeLineElement>
    <TimeLineElement
      title="Legged Robots Research"
      subtitle="April 2023 at CSIC, Madrid, Spain"
      image="/icons/csic_white.svg"
      backgroundColor="#b01220"
      color2="#009999"
      id="csic"
    >
      Research on control and benchmarking of quadrupedal robots.
    </TimeLineElement>
    <TimeLineElement
      title="Intern - Digital Academy"
      subtitle="May to July 2020 at Siemens, Milan, Italy"
      image="/icons/siemens.svg"
      backgroundColor="#009999"
      id="siemens"
    >
      System design using SIMIt and PLC programming.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">🎓 Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Ph.D. in Robotics Engineering"
      subtitle="2022 to 2025 at University of Pisa, Pisa, Italy"
      image="/icons/unipi_white.svg"
      backgroundColor="#0f4a7c"
      color2="#0f4a7c"
      id="phd"
    >
      Research on planning and control of legged robots and multi-robot systems.
    </TimeLineElement>
    <TimeLineElement
      title="Master's Degree in Robotics and Automation Engineering"
      subtitle="2018 to 2022 at University of Pisa, Pisa, Italy"
      image="/icons/unipi_white.svg"
      backgroundColor="#0f4a7c"
      color2="#b40010"
      id="md"
    >
      Final grade: 110/110 cum laude.
    </TimeLineElement>
    <TimeLineElement
      title="Engineering Student"
      subtitle="2014 to 2017 at Sant'Anna School of Advanced Studies, Pisa, Italy"
      image="/icons/sssa_white.svg"
      backgroundColor="#b40010"
      color2="#0f4a7c"
      id="sssa"
    >
      Full scholarship winner.
    </TimeLineElement>
    <TimeLineElement
      title="Bachelor's Degree in Mechanical Engineering"
      subtitle="2014 to 2018 at University of Pisa, Pisa, Italy"
      image="/icons/unipi_white.svg"
      backgroundColor="#0f4a7c"
      id="bd"
    >
      Final grade: 110/110.
    </TimeLineElement>
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">🤹 Skills</div>
  </div>

  <div class="flex my-5">
    <img src="https://skillicons.dev/icons?i=python" alt="Python" class="inline-block w-10 h-10 mr-2" />
    <img src="https://skillicons.dev/icons?i=cpp" alt="C++" class="inline-block w-10 h-10 mr-2" />
    <img src="https://skillicons.dev/icons?i=matlab" alt="MATLAB" class="inline-block w-10 h-10 mr-2" />
    <img src="https://skillicons.dev/icons?i=ros" alt="ROS" class="inline-block w-10 h-10 mr-2" />
    <img src="/icons/gazebo.png" alt="Gazebo" class="inline-block w-10 h-10 mr-2" />
    <img src="/icons/omniverse.png" alt="Omniverse" class="inline-block w-10 h-10 mr-2" />
    <img src="https://skillicons.dev/icons?i=pytorch" alt="PyTorch" class="inline-block w-10 h-10 mr-2" />
    <img src="/icons/jax.png" alt="JAX" class="inline-block w-10 h-10 mr-2" />
    <img src="https://skillicons.dev/icons?i=docker" alt="Docker" class="inline-block w-10 h-10 mr-2" />
    <img src="https://skillicons.dev/icons?i=git" alt="Git" class="inline-block w-10 h-10 mr-2" />
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li><b>Programming languages</b>:
      <img src="https://skillicons.dev/icons?i=python" alt="Python" class="inline-block w-5 h-5 mr-0 mb-1" /> Python,
      <img src="https://skillicons.dev/icons?i=cpp" alt="C++" class="inline-block w-5 h-5 mr-0 mb-1" /> C++,
      <img src="https://skillicons.dev/icons?i=matlab" alt="MATLAB" class="inline-block w-5 h-5 mr-0 mb-1" /> MATLAB & Simulink
    </li>
    <li><b>Robotics</b>:
      <img src="https://skillicons.dev/icons?i=ros" alt="ROS" class="inline-block w-5 h-5 mr-0 mb-1" /> ROS 1 & 2
      <img src="/icons/gazebo.png" alt="gazebo" class="inline-block w-5 h-5 mr-0 mb-1" /> Gazebo Classic & Ignition,
      <img src="/icons/omniverse.png" alt="gazebo" class="inline-block w-5 h-5 mr-0 mb-1" /> NVIDIA Omniverse
    </li>
    <li><b>Libraries</b>:
      <img src="https://skillicons.dev/icons?i=pytorch" alt="PyTorch" class="inline-block w-5 h-5 mr-0 mb-1" /> PyTorch,
      <img src="/icons/jax.png" alt="JAX" class="inline-block w-5 h-5 mr-0 mb-1" /> JAX
    </li>
    <li><b>Tools</b>:
      <img src="https://skillicons.dev/icons?i=docker" alt="Docker" class="inline-block w-5 h-5 mr-0 mb-1" /> Docker,
      <img src="https://skillicons.dev/icons?i=git" alt="Git" class="inline-block w-5 h-5 mr-0 mb-1" /> Git
    </li>
  </ul>
</BaseLayout>
