---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Davide De Benedittis - Robotics Engineer</div>
  </div>

  <div class="mb-10 text-justify">
    I am a PhD student in Robotics Engineering at the University of Pisa.
    I have experience with robotics, control techniques, and sensor fusion.
    My research focuses on planning and control of legged robots and multi-robot systems.
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">💼 Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Ph.D. in Robotics Engineering"
      subtitle="2022 to 2025 at University of Pisa, Pisa, Italy"
      image="unipi_white.svg"
      backgroundColor="#0f4a7c"
    >
      Research on planning and control of legged robots and multi-robot systems.
    </TimeLineElement>
    <TimeLineElement
      title="Intern - Digital Academy"
      subtitle="May to July 2020 at Siemens, Milan, Italy"
      image="siemens.svg"
    >
      System design using SIMIt and PLC programming.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">🎓 Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Ph.D. in Robotics Engineering"
      subtitle="2022 to 2025 at University of Pisa, Pisa, Italy"
      image="unipi_white.svg"
      backgroundColor="#0f4a7c"
    >
      Research on planning and control of legged robots and multi-robot systems.
    </TimeLineElement>
    <TimeLineElement
      title="Master's Degree in Robotics and Automation Engineering"
      subtitle="2018 to 2022 at University of Pisa, Pisa, Italy"
      image="unipi_white.svg"
      backgroundColor="#0f4a7c"
    >
      Final grade: 110/110 cum laude.
    </TimeLineElement>
    <TimeLineElement
      title="Bachelor's Degree in Mechanical Engineering"
      subtitle="2014 to 2018 at University of Pisa, Pisa, Italy"
      image="unipi_white.svg"
      backgroundColor="#0f4a7c"
    >
      Final grade: 110/110.
    </TimeLineElement>
    <TimeLineElement
      title="Engineering Student"
      subtitle="2014 to 2017 at Sant'Anna School of Advanced Studies, Pisa, Italy"
      image="sssa_white.svg"
      backgroundColor="#b40010"
    >
      Full scholarship winner.
    </TimeLineElement>
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">🤹 Skills</div>
  </div>

  <div class="flex my-5">
    <img src="https://skillicons.dev/icons?i=ros" alt="ROS" class="inline-block w-8 h-8 mr-2" />
    <img src="https://skillicons.dev/icons?i=python" alt="Python" class="inline-block w-8 h-8 mr-2" />
    <img src="https://skillicons.dev/icons?i=cpp" alt="C++" class="inline-block w-8 h-8 mr-2" />
    <img src="https://skillicons.dev/icons?i=matlab" alt="MATLAB" class="inline-block w-8 h-8 mr-2" />
    <img src="https://skillicons.dev/icons?i=docker" alt="Docker" class="inline-block w-8 h-8 mr-2" />
    <img src="https://skillicons.dev/icons?i=git" alt="Git" class="inline-block w-8 h-8 mr-2" />
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li><b>Programming languages</b>: Python, C++, MATLAB & Simulink</li>
    <li><b>Robotics</b>: ROS 1, ROS 2, Gazebo Classic, Gazebo Ignition, NVIDIA Omniverse</li>
    <li><b>Tools</b>: Docker, Git</li>
  </ul>
</BaseLayout>
