---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Davide De Benedittis</div>
    <div class="text-3xl py-3 font-bold">Robotics Engineer and PhD Student</div>
    <div class="py-2">
      <text class="text-lg">
        PhD student by day, robotics engineer by night...<br>
        My research focuses on:
      <ul class="list-disc mx-6">
        <li>Locomotion of legged robots 🦿</li>
        <li>Planning and control of multi-robot systems 🤖🤖🤖</li>
      </ul>

      I like... <span class="typewrite" data-period="2000" 
        data-type='[
          "robots 🤖",
          "basketball 🏀",
          "programming 💻",
          "gym 🏋️",
          "sushi 🍣"
          ]'>
        <span class="wrap"></span>
      </span>
      </text>
  
      <script>
        var TxtType = function(el, toRotate, period) {
            this.toRotate = toRotate;
            this.el = el;
            this.loopNum = 0;
            this.period = parseInt(period, 10) || 2000;
            this.txt = '';
            this.tick();
            this.isDeleting = false;
        };
  
        TxtType.prototype.tick = function() {
            var i = this.loopNum % this.toRotate.length;
            var fullTxt = this.toRotate[i];
  
            if (this.isDeleting) {
            this.txt = fullTxt.substring(0, this.txt.length - 1);
            } else {
            this.txt = fullTxt.substring(0, this.txt.length + 1);
            }
  
            this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';
  
            var that = this;
            var delta = 200 - Math.random() * 100;
  
            if (this.isDeleting) { delta /= 2; }
  
            if (!this.isDeleting && this.txt === fullTxt) {
            delta = this.period;
            this.isDeleting = true;
            } else if (this.isDeleting && this.txt === '') {
            this.isDeleting = false;
            this.loopNum++;
            delta = 500;
            }
  
            setTimeout(function() {
            that.tick();
            }, delta);
        };
  
        function init() {
            var elements = document.getElementsByClassName('typewrite');
            for (var i=0; i<elements.length; i++) {
                var toRotate = elements[i].getAttribute('data-type');
                var period = elements[i].getAttribute('data-period');
                if (toRotate) {
                  new TxtType(elements[i], JSON.parse(toRotate), period);
                }
            }
            // INJECT CSS
            var css = document.createElement("style");
            css.type = "text/css";
            css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
            document.body.appendChild(css);

            // Clean up by destroying instances and removing event listeners
            document.addEventListener('astro:before-swap', () => {
              // SomeClass.destroy()
              // document.removeEventListener(...)
            }, { once: true })
        };

        // Initialize on first load
        init()

        // Re-initialize after swapping pages
        document.addEventListener("astro:after-swap", init)
      </script>
    </div>
    <!-- <div class="mt-8">
      <a class="btn" href="https://twitter.com/manuelernestog" target="_blank"> Let's connect!</a>
      <a href="https://github.com/manuelernestog/astrofy" target="_blank" class="btn btn-outline ml-5">
        Get This template
      </a>
    </div> -->
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects</div>
  </div>

  <HorizontalCard
    title="Control of Quadrupedal Robots on Soft Terrains"
    img="https://raw.githubusercontent.com/ddebenedittis/media/main/rviz_legged/rviz_legged_trot.webp"
    desc="Model-based control for quadrupedal robots moving on compliant terrains."
    url="https://github.com/ddebenedittis/control_quadrupeds_soft_contacts"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Hierarchical Constraint-Based Control of Multi-Robot Systems"
    img="https://raw.githubusercontent.com/ddebenedittis/media/main/hierarchical_optimization_mpc/coverage_9.webp"
    desc="Control of heterogeneous multi-robot fleet using hierarchical optimization and quadratic programming."
    url="https://github.com/ddebenedittis/hierarchical_optimization_mpc"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Docker Container for ROS (1 and 2), GUIs, and NVIDIA GPUs"
    img="https://raw.githubusercontent.com/ddebenedittis/media/main/docker_ros_nvidia/docker_ros_480x270.webp"
    desc="Docker container to be used with ROS 1 or ROS 2. Supports the usage of GUIs and NVIDIA GPUs."
    url="https://github.com/ddebenedittis/docker_ros_nvidia"
    badge="ROS"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest publications</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
