---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects Header</div>
  </div>

  <HorizontalCard
    title="Control of Quadrupedal Robots on Soft Terrains"
    img="https://raw.githubusercontent.com/ddebenedittis/media/main/rviz_legged/gif/rviz_legged_trot.gif"
    desc="Model-based control for quadrupedal robots moving on compliant terrains."
    url="https://github.com/ddebenedittis/control_quadrupeds_soft_contacts"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Hierarchical Constraint-Based Control of Multi-Robot Systems"
    img="https://raw.githubusercontent.com/ddebenedittis/media/main/hierarchical_optimization_mpc/coverage_9.gif"
    desc="Control of heterogeneous multi-robot fleet using hierarchical optimization and quadratic programming."
    url="https://github.com/ddebenedittis/hierarchical_optimization_mpc"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Docker Container for ROS (1 and 2), GUIs, and NVIDIA GPUs"
    img="https://raw.githubusercontent.com/ddebenedittis/media/main/docker_ros_nvidia/docker_ros_480x270.webp"
    desc="Docker container to be used with ROS 1 or ROS 2. Supports the usage of GUIs and NVIDIA GPUs."
    url="https://github.com/ddebenedittis/docker_ros_nvidia"
    badge="Docker"
  />

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Projects Header</div>
  </div>

  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 4"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 5"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  /> -->
</BaseLayout>
