---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import HorizontalPublication from "@components/HorizontalPublication.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="publications">
  <div>
    <div class="text-3xl w-full font-bold mb-5">My publications</div>
  </div>

  <HorizontalPublication
    title="Soft Bilinear Inverted Pendulum: a Model to Enable Locomotion with Soft Contacts"
    img="https://raw.githubusercontent.com/ddebenedittis/soft_bilinear_inverted_pendulum_astro/refs/heads/main/public/cover_pic.png"
    auth="Davide De Benedittis, Franco Angelini, and Manolo Garabini"
    journal="IEEE Transactions on Systems, Man, and Cybernetics: Systems"
    date="2024"
    desc="Model-based two-control-blocks architecture (motion planner and tracking controller) for quadrupedal locomotion in the presence of soft contacts."
    url="https://ddebenedittis.github.io/soft_bilinear_inverted_pendulum_astro/"
  />
  <div class="divider my-0"></div>
  <HorizontalPublication
    title="Articulated Soft Robots: A Feasibility Driven Control Approach"
    img="/publications/art_soft_rob.webp"
    auth="Davide De Benedittis, Saroj Prasad Chhatoi, Michele Pierallini, Franco Angelini, Carlos Mastalli, and Manolo Garabini"
    journal="Italian Conference on Robotics and Intelligent Machines (I-RIM 3D)"
    date="24 Sep 2024"
    desc="Efficient DDP-based algorithm for trajectory optimization of articulated soft robots."
    url="#"
  />
</BaseLayout>
