---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Support" sideBarActiveItemID="support">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Support my work</div>
  </div>
</BaseLayout>
