---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "Teaching" sideBarActiveItemID="teaching">
    <div>
        <div class="text-3xl w-full font-bold mb-5">📚 Academic Courses</div>
    </div>

    <b>Teaching support activities</b>:
    <ul class="list-disc mx-6 mb-10 mt-2 grid gap-2">
        <li> Fundamentals of Automatics Control with Prof. Antonio Bicchi and Ph.D. Daniela Selvi - MD in Mechanical Engineering, University of Pisa, Italy, 2023/2024</li>
    </ul>

    <div>
        <div class="text-3xl w-full font-bold mb-5 mt-10">👶 Students Mentoring</div>
    </div>

    Master's Degree thesis or equivalent:
    <ul class="list-disc mx-6 mb-10 mt-2 grid gap-2">
        <li>Riccardo Incerpi - Theoretical Development and Experimental Validation of a Hierarchical Optimization Based Controller, 2024</li>
        <li>Fabrizio Pilone - Hierarchical Optimization Based Model Predictive Controller for Legged Robots, 2023</li>
        <li>Marta Antonucci - Multi-Robot Motion Plannig Through Model-Based Diffusion</li>
    </ul>

</BaseLayout>
